apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: prod
  labels:
    app: django-app
    environment: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
        environment: prod
    spec:
      containers:
        - name: django
          image: django-drf-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: django-secrets
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          livenessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 5
